.detail-page {
	height: 100%;
	width: 100%;
	background-color: #abd1b5;
	color: aliceblue;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"header header header header header header"
		"main main main main side side"
		"main main main main side side"
		"main main main main side side"
		"main main main main side side"
		"main main main main side side"
		"main main main main side side"
		"main main main main side side"
		"main main main main side side"
		"main main main main side side";
}

.header {
	grid-area: header;
	margin: 0;
	padding: 7rem 0 1rem 2rem;
	border-bottom: 3px solid #291507;
}
.main-content {
	grid-area: main;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-right: 3px solid #291507;
}

.task-tile {
	margin-top: 2rem;

	background-color: #291507;
	padding: 2em;
	border-radius: 2rem;
	color: #edf4ed;
	width: 10rem;
	max-height: 7rem;
}

.side-content {
	grid-area: side;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.create {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"sub-title sub-title sub-title sub-title"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks"
		"add-task add-task view-tasks view-tasks";
}
.content-header {
	grid-area: sub-title;
	margin: 0;
	padding-top: 2rem;
}
.input-task {
	grid-area: add-task;
}
.view-tasks {
	grid-area: view-tasks;
}
.new-member {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60%;
}
.add-member {
	display: inline-flex;
	align-items: center;
	font-size: 7rem;
	float: right;
	height: 3rem;
}
