.dashboard {
	height: 100%;
}
.tileboard {
	height: 100%;
	width: 100%;
	background-color: #abd1b5;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.tile {
	margin-top: 2rem;
	border-radius: 2.5rem;
	padding: 1.5rem;
	width: 12rem;
	max-height: 12rem;
	background-color: #092429;
	color: #edf4ed;
	transition: all 0.25s;
}
.tile:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.add-project {
	font-size: 7rem;
	background-color: #0e3b43;
	color: #edf4ed;
	display: inline-flex;
	padding: 1rem;
	width: auto;
	height: 3rem;
	width: 3rem;
	align-items: center;
	border-radius: 5rem;
	justify-content: center;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1.5rem;
	transition: all 0.15s;
}
.add-project:hover {
	cursor: pointer;
	transform: scale(1.2);
}
.add-project:active {
	transform: scale(1.1);
}
