.task-tile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1px 1px;
	grid-template-areas:
		"Title Title Title Title"
		"AssignedTo AssignedTo Point Point"
		"AssignedTo AssignedTo Point Point";
}
.title {
	grid-area: Title;
}

.assignedTo {
	grid-area: AssignedTo;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.pointVal {
	grid-area: Point;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.showComments {
	padding: 0.25rem;
	display: flex;
	flex-direction: column;
}
.add-comment {
	height: auto;
	padding: 0.25rem;
}
.post-comment {
	padding: 0.1rem;
	height: auto;
	border-radius: 0;
}
.post-comment:hover {
	transform: none;
}

.comment {
	margin-top: 0.25rem;
	display: flex;
	flex-direction: column;
}
.comment-author {
	margin: 0;
}
.comment-controls {
	display: flex;
	flex-direction: row;
}
.comment-content {
	margin: 0;
}
.remove-comment {
	padding: 0.25rem;
	height: 1rem;
	margin-left: 0.5rem;
	background-color: inherit;
	color: inherit;
}
.remove-comment:hover {
	transform: none;
}
